<div class="row">
  <div class="col-md-12 col-ms-12">
    <div>
    	<br/>
		<div class="row">
		  {{#each item in publications.items}}
      {{unbound item.title}}
      {{unbound item.role}}
      {{unbound item.isbn}}
      {{unbound item.publisher}}
      {{unbound item.link}}
      {{unbound item.year}}
      <img src="{{unbound item.thumbnail}}"/>
		  {{/each}}
		</div>
    </div>
  </div>
</div>
