<div class="row">
	<div class="well fadeInUp animated">
		<h2>{{unbound talks.title}}</h2>
	  {{#each talk in talks.items}}
      <h3>{{unbound talk.title}}</h3>
			{{unbound talk.language}}
			{{unbound talk.year}}
			<a href="{{unbound talk.url}}" target="_blank">link</a>
	  {{/each}}
  </div>
</div>
