<div class="row">
  {{#each itm in item}}
    <div class="col-md-4">
      <div class="well fadeInUp animated tweet">
        <a href="https://twitter.com/RemoHJansen/">
          <img src="/website/assets/me.jpg" class="pull-left img-rounded tweet-image"/>
        </a>
        <div class="tweet-body">
          <div class="tweet-text">
            {{{unbound itm.description}}}
          </div>
          <hr/>
          {{unbound itm.pubDate}}
          <a href="{{unbound itm.fav_link}}" class="pull-right tweet-icon" target="_blank">
            <i class="fa fa-star"></i>
          </a>
          <a href="{{unbound itm.retweet_link}}" class="pull-right tweet-icon" target="_blank">
            <i class="fa fa-retweet"></i>
          </a>
          <a href="{{unbound itm.reply_link}}" class="pull-right tweet-icon" target="_blank">
            <i class="fa fa-reply"></i>
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<blockquote class="large fadeInDown animated">
  <p>
    <strong>Please Note:</strong>
    This is just a preview of my latest tweets.
    If you are looking for all my tweets. You can find my twitter user
    profile at <a href="https://twitter.com/RemoHJansen/">@RemoHJansen</a>
  </p>
</blockquote>
