{{#each box}}
    {{#if BOF}}
            <div class="row">
    {{/if}}
                <div class="col-md-4">
                    <div class="well expandUp">
                        <div style="min-height: 200px;">
                          <h5>{{category}}</h5>
                          <h3>{{title}}</h3>
                          <p>{{{desc}}}</p>
                        </div>
                        <p style="text-align: right;">
                          <br/>
                          <a class="btn" href="{{href}}" role="button">
                               Go to slides &raquo;
                          </a>
                        </p>
                    </div>
                </div>
    {{#if EOL}}
        {{#if EOF}}
            </div>
        {{else}}
            </div>
            <div class="row">
        {{/if}}
    {{/if}}
{{/each}}
