<h3>{{unbound awards.title}}</h3>
{{#each awards.organization}}
	<h4><i class="glyphicon glyphicon-certificate"></i> {{unbound name}}</h4>
	{{#each course}}
		<p>
			<span class="label label-warning">
                <img class="location" alt="IE" src="{{unbound country_icon_path}}"/>
                {{unbound unboundminitial_date}}
            </span>
			<b>{{unbound name}}</b>
		</p>
		{{#each paragraph}}<p class="paragraph">{{{unbound this}}}</p>{{/each}}
		<p class="skill_container">
			<b>{{skill.title}}:</b>
			{{#each skill.item}}<span class="label label-default">Responsive Design</span> {{/each}}
		</p>
	{{/each}}
	{{#if picture}}
        <div class="centre">
            <img src="{{unbound picture}}" style="width: 50%;"/>
        </div>
    {{/if}}
	{{#if diaplay_break}}<hr />{{/if}}
{{/each}}
