<h3>{{unbound projects.title}}</h3>
{{#each prjct in projects.projects}}
	<p>
		<span class="label label-warning">
      <img class="location" alt="" src="{{unbound prjct.country_icon_path}}"/>
      {{unbound prjct.year}}
    </span>
		<b>
			<a class="link" href="{{unbound prjct.url}}">{{unbound prjct.name}}</a>
		</b>
	</p>
	{{#each prgh in prjct.paragraph}}
		<p class="paragraph">{{{unbound prgh}}}</p>
	{{/each}}
	{{#if prjct.display_break}}<hr />{{/if}}
{{/each}}
