<h3>{{recommendations.title}}</h3>
{{#each quote in recommendations.quote}}
    <p>
      <span class="label label-warning">
          <img class="location" alt="IE" src="{{unbound quote.country_icon_path}}"/>
          {{unbound quote.initial_date}}
      </span>
      <b>
        {{unbound quote.by_name}} -
        {{unbound quote.by_role}} -
        {{unbound quote.by_organization}}
      </b>
    </p>
    <div class="quote-container">
      {{#each prgh in quote.paragraph}}
        <p class="quote">{{unbound prgh}}</p>
      {{/each}}
    </div>
{{/each}}
