<h3>{{unbound self_education.title}}</h3>
<div class="row">
  <div class="col-md-6">
		<ul class="planeul">
			{{#each book in self_education.bookGroupA }}
        <li>
          <p>
            <i class="glyphicon glyphicon-book"></i>
            {{unbound book.title}}
            <span class="label label-default">ISBN {{unbound book.isbn}}</span>
          </p>
        </li>
		   {{/each}}
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="planeul">
				{{#each book in self_education.bookGroupB }}
	        <li>
            <p>
              <i class="glyphicon glyphicon-book"></i>
              {{unbound book.title}}
              <span class="label label-default">ISBN {{unbound book.isbn}}</span>
            </p>
	        </li>
			  {{/each}}
		</ul>
	</div>
</div>
