<h3>{{unbound work.title}}</h3>
{{#each organization in work.organizarion}}
	<h4><i class="glyphicon glyphicon-briefcase"></i> {{unbound organization.name}}</h4>
	{{#each rl in organization.role}}
		<p>
			<span class="label label-warning">
                <img class="location" alt="" src="{{unbound rl.country_icon_path}}"/>
                {{unbound rl.initial_date}}
            </span>
			<b>{{unbound rl.name}}</b>
		</p>
	{{/each}}
	{{#each prgh in organization.paragraph}}
        <p class="paragraph">{{unbound prgh}}</p>
  {{/each}}
	{{#if organization.diaplay_break}}<hr/>{{/if}}
{{/each}}
